* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #444444;
}

body {
    background-color: #fffeea;
    margin-left: 10%;
    margin-right: 10%
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

@media only screen and (min-width: 768px)
{
    body {
        margin-left: 30%;
        margin-right: 30%;
    }
}

.flex {
    display: flex;
}

.mono {
    font-family: 'Roboto', monospace;
}

.line {
    margin: auto;
    width: 60%;
    border-bottom: 1px solid #666666
}

.top-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.top-bar > .title {
    font-size: 28px;
}

.top-bar > .subtitle {
    padding-top: 8px;
    font-size: 18px;
}

.top-bar > .links {
    padding-top: 8px;
    padding-bottom: 8px;
}

.top-bar > .links a {
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}

.content {
    padding-bottom: 20px;
}

.content > .title {
    font-size: 24px;
}

.contact-row > i {
    font-size: 20px;
    padding-right: 5px;
}

.contact-row {
    padding-top: 8px;
}
