:root {
	--bg: #494949;
	--fg: #eaeaea;
	--text-dark: #cccccc;
	--pink-light: #ff87c1;
	--pink: #e853e5;
	--pink-dark: #8c1a8a;
	--green: #25e832;
	--yellow-light: #f2ee8e;
	--blue-light: #61a8f9;
}

body {
	background-color: var(--bg);
	font-size: 12px;
}


code {
	color: var(--fg);
}


.comment {
	color: var(--text-dark);
}


.string-0 {
	color: var(--pink-light);
}


.string-1 {
	color: var(--blue-light);
}


.kw-1 {
	color: var(--yellow-light);
}
